<header id="header"><img src="assets/images/DL_DarkGrey.png" alt="Digital Leaders" /></header>
<div class="container">
  <div class="article-content" ng-if="article">
    <h1 ng-bind="article.title"></h1>
    <img ng-src="{{ article.image }}" alt="{{article.title}}" />
    <div ng-if="article.content" ng-bind-html="article.content"></div>
  </div>
  <div class="article-error" ng-if="articleError">
    <h3 class="text-danger">Article not found</h3>
  </div>
</div>
