@font-face {
font-family: Roboto-Black;
src: url('../fonts/Roboto-Black.eot'); 
src: url('../fonts/Roboto-Black.eot?') format('eot'),  
url('../fonts/Roboto-Black.woff') format('woff'), 
url('../fonts/Roboto-Black.ttf')  format('truetype'), 
url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg'); 
}
@font-face {
font-family: Roboto-Regular;
src: url('../fonts/Roboto-Regular.eot'); 
src: url('../fonts/Roboto-Regular.eot?') format('eot'),  
url('../fonts/Roboto-Regular.woff') format('woff'), 
url('../fonts/Roboto-Regular.ttf')  format('truetype'), 
url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg'); 
}
@font-face {
font-family: Roboto-Light;
src: url('../fonts/Roboto-Light.eot'); 
src: url('../fonts/Roboto-Light.eot?') format('eot'),  
url('../fonts/Roboto-Light.woff') format('woff'), 
url('../fonts/Roboto-Light.ttf')  format('truetype'), 
url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg'); 
}
html, body {
	margin: 0px;
	padding:0px; 
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-family:"Roboto-Light" !important;
	font-weight:normal;
	font-size:16px;
	background:#ffffff;
	color:#1918181;

}

h1,h2,h3,h4,h5,h6,p,a,em,span,ul,li,ol,img,form,div {
	margin:0;
	padding:0;
	list-style:none;
	font-style:normal;
	font-weight:normal;
	border:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; 
}
input, select, option, textarea {
	outline:none;
	padding:0px;
	margin:0px;
	font-family:"Roboto-Regular";
	font-size:14px;
}
input[type="text"], input[type="password"], input[type="button"], input[type="submit"], textarea, input[type="file"], .upload  {
	background:#FFFFFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	resize:none;
	border:none;
	padding:0px 5px;
}
header, nav, section, article, footer, address {   
    display: block;   
}
a {
	color:#b3d678;
	text-decoration:none;
}
a:focus { outline: none; }
a:hover {
	text-decoration:none;
}
header {
	background:#FFFFFF;
	text-align:center;	
	position:fixed;
	left:0;
	top:0;
	right:0;
	z-index:1;
}
header.sticky {
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);

}
header img {
	margin:20px 0;
	height:55px;
}
.container {
	width:100%;
	padding:0;
	margin:0;
}
.article-content  {
	padding:115px 20px 0 20px;
}
.article-content h1 {
	font-family:"Roboto-Black";
	margin:30px 0px 20px 0;
	font-size:35px;
	position:relative;
}
.article-content h1::after {
	content:"";
	background:#e72f31;
	height:10px;
	width:50px;
	position:absolute;
	left:0;
	top:-15px;
}
.article-content img {
	width:100%;	
}
.article-content p {
	margin:20px 0px;
	line-height:30px !important;
}
